<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <div wicket:id="accordionContainers">
        <h3>
            <a name="containers">
                <wicket:message key="registry_record_containers"/>
            </a>
        </h3>
        <table>
            <tr wicket:id="containersData">
                <td>
                    <span wicket:id="container"></span>
                </td>
            </tr>
        </table>
    </div>
</wicket:panel>
</body>
</html>