.selected {
    background-color:#87939D;
    color: whitesmoke !important;
}

.tbColor > tbody {
    width: auto;
    height: 350px;
    overflow-y: scroll;
    display: block;
    border-bottom: 1px groove #667584;
    border-left: 1px dotted #667584;
}

.tbColor > thead {
    width: auto;
    display: block;
}

.tbColor th {
    border-top: 1px solid #667584;
}

.nameColumn {
    width: 252px;
}

.sizeColumn {
    width: 110px;
}

.dateColumn {
    width: 110px;
}

.folder {
    font-weight: bold;
}

