<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="dialog" style="cursor: pointer">
        <div wicket:id="container">
        <form action="#" wicket:id="form">
            <table class="tbColor bookContent" cellpadding="0" cellspacing="0" border="0" wicket:id="datatable"></table>
            <wicket:message key="selected"/>:&nbsp<input type="text" wicket:id="selected"/><br/>
            <input type="submit" class="btnMiddle" wicket:message="value:select" wicket:id="select"/>
        </form>
        </div>
    </div>
</wicket:panel>