<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="container">
        <div wicket:id="showModelPanel"></div>
        <form wicket:id="filterForm">
            <table class="tbColor bookContent" style="border-top: none;" cellpadding="0" cellspacing="0" border="0" wicket:id="datatable"></table>
            <input type="button" class="btnSmall" wicket:message="value:add" wicket:id="add"/>
            <input type="button" class="btnSmall" wicket:message="value:delete" wicket:id="delete"/>
        </form>
    </div>
</wicket:panel>