<config>
    <!--property name="org.glassfish.ejb.embedded.glassfish.installation.root"
              value="C:\\java\\org.complitex\\complitex\\complitex-dictionary\\src\\test\\glassfish">
    </property-->
    <property name="org.glassfish.ejb.embedded.glassfish.installation.root"
              value="../complitex/complitex-dictionary/src/test/glassfish">
    </property>
    <property name="javax.ejb.embeddable.modules">
        <collection itemsType="java.io.File">
            <item>eirc-account/target/classes</item>
            <item>eirc-dictionary/target/classes</item>
            <item>eirc-organization/target/classes</item>
            <item>eirc-organization-type/target/classes</item>
            <item>eirc-registry/target/classes</item>
            <item>eirc-service/target/classes</item>
            <item>eirc-service-correction/target/classes</item>
            <item>eirc-registry/target/test-classes</item>
            <item>../complitex/complitex-address/target/classes</item>
            <item>../complitex/complitex-admin/target/classes</item>
            <item>../complitex/complitex-correction/target/classes</item>
            <item>../complitex/complitex-dictionary/target/classes</item>
            <item>../complitex/complitex-logging/target/classes</item>
            <item>../complitex/complitex-organization/target/classes</item>
            <item>../complitex/complitex-organization-type/target/classes</item>
            <item>../complitex/complitex-template/target/classes</item>
            <item>../complitex/complitex-dictionary/target/test-classes</item>
        </collection>
    </property>
</config>